---
import { getCollection /*, getEntry*/ } from 'astro:content'
import type { CollectionEntry  } from 'astro:content'
type Card = CollectionEntry<'cards'>

const cards = await getCollection('cards')

// @ts-ignore
import { render } from 'astro:content'
---

<h1>CARDS</h1>
<div>
    {cards.map(async (card: Card) => {
        const { Content } = await render(card)
        return  <>
            <p><code>{JSON.stringify(card)} {card.data.title}</code></p>
            <Content />
        </>
    })}
</div>
