---
import { getCollection } from 'astro:content'
import type { CollectionEntry  } from 'astro:content'
type Card = CollectionEntry<'cards'>

const cards = await getCollection('cards')

// @ts-ignore
import { render } from 'astro:content'

import MyCardFromID from '../components/MyCardFromID.astro';
---

<h1>All Cards</h1>

<div>
    {cards.map(async (card: Card) => {
        const { Content } = await render(card)
        return  <>
            <p><code>{JSON.stringify(card)} {card.data.title}</code></p>
            <Content />
        </>
    })}
</div>

<h1>A Specific Card</h1>
<h2>Custom Component</h2>

<MyCardFromID id="card1" />
